# Ignore Terraform state and provider files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# IDE
.idea/

# Docker and development
Dockerfile*
docker-compose.yml
.dockerignore
Makefile

# Python
*.py
requirements.txt

# Example files
*-example.tf
for_each-*.tf
